#temporary-safari{
  overflow-y: scroll;
  float: left;
  height:100vh;
  position:relative;
}

#temporary-safari::-webkit-scrollbar {
  display: none;
}

#temporary-safari {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
