@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IranYekanNum";
    src: url("src/fahm-src/src/assets/fonts/IranYekanFa/iranyekanregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("src/fahm-src/src/assets/fonts/IranYekanFa/iranyekanweblight.woff")
      format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("src/fahm-src/src/assets/fonts/IranYekanFa/iranyekanregular.woff")
      format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("src/fahm-src/src/assets/fonts/IranYekanFa/iranyekanregular.woff")
      format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "IranYekan";
    src: url("src/fahm-src/src/assets/fonts/IranYekanFa/iranyekanwebbold.woff")
      format("truetype");
    font-weight: 700;
  }

  span,
  p,
  img {
    user-select: none;
  }

  #root {
    isolation: isolate;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    font-family: "IranYekan";
    direction: rtl;
    background-color: #000;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #88C4FF;
  }
}

@layer utilities {
  .font-size-clamp {
    font-size: clamp(16px, 1.3vw, 50px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
