#footer {
    display: flex;
    margin-top: 11.0625rem;
    gap: #{'clamp(4rem , 10.5vw, 8.5rem)'};
    padding-block: #{'clamp(1rem , 5vw, 2.75rem)'};
    padding-inline: #{'clamp(2.5rem , 10vw, 6.25rem)'};
    border-style: solid;
    border-top-color: rgba(255, 255, 255, 0.25);
    border-width: 0;
    border-top-width: 0.5px;
    white-space: nowrap;
}

#contact-text, #join-text, #company, #email {
    margin: 0;
    color: white;
    font-family: iranyekan, serif;
    font-size: 14px;
}

#icon-footer {
    width: 3.3125rem;
}

#contact-footer, #email-footer {
    display: flex;
    flex-direction: column;
    gap: #{'clamp(0.5rem , 11vw, 1rem)'};
}

#contact-footer {
    margin-right: auto;
}

a {
    text-decoration: none;
}

#email:hover {
    color: #7ab8ff;
}

#contact-text:hover {
    color: #7ab8ff;
}

#join-text:hover {
    color: #7ab8ff;
}

@media screen and (max-width: 600px) {
    #footer {
        flex-direction: column;
        margin-top: 3.75rem;
        border: none;
        padding-block: 1.25rem;
        padding-inline: 2.375rem;
        gap: 1px;
    }

    #contact-footer {
        display: none;
    }

    #email-footer {
        gap: 4px;
    }
}
