#alefba{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#alefba #mobile-safari{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#alefba #web{
  flex-direction: row;
  margin-right: 14.69vw;
  margin-left: 18.36vw;
  height: 88vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#web{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alefba #web #text{
  height: auto;
  width: 33.75vw;
}

#alefba #web #space-between{
  width: 17.35vw;
}

#alefba #web #image{
  height: auto;
  width: 15.79vw;
}

#alefba-emerging-box {
    position: absolute;
    width: 3vw;
    margin-right: 3.5vw;
    margin-top: -0.85vw;
    height: 20vw;
}

/* svg positioning */

#alefba svg {
    overflow: visible;
}

#link-alefba {
    transform: translateX(105px);
}

.alefba-link-mobile {
    transform: translateX(30px);
}

@media screen and (max-width: 600px){
  #alefba {
    height: 100vh;
  }
}
