p {
    margin: 0.8vw;
}

.button {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

#sample-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sample-title-space {
    height: 5rem;
}

.sample-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.white-title-sample {
    color: white;
    margin-right: 2vw;
    transition: 1s ease-in-out;
    font-weight: 400;
    background-color: transparent;
    z-index: 1;
    font-size: 1.3vw;
    font-family: iran-yekan, serif;
}

.description-sample {
    color: white;
    direction: rtl;
    z-index: 1;
    transition: 1s ease-in-out;
    background-color: transparent;
    font-family: iran-yekan, serif;
    font-size: 1.1vw;
}

.dot {
    width: 0.7vw;
}

.no-dot {
    display: none;
}

.polygon {
    margin-right: -0.35vw;
    width: 1.5vw;
}

.image-sample {
    width: 35vw;
    z-index: 10;
    height: 40vh;
}

#sample-title {
    color: #ff6200;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: iran-yekan, serif;
}

.mobile-image {
    display: none;
    height: 40vh;
    margin-bottom: 5vh;
}

#orange-border {
    position: absolute;
    margin-bottom: 24vw;
}

#orange-border-main {
    width: 5vw;
}

.sample-image {
    position: absolute;
    width: 700px;
    height: 300px;
}

.sample-container {
    width: 40vw;
    height: 27vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    overflow: hidden;
}

.mobile-sample-container {
    display: none;
}

#active-orange-title {
    background-color: #ff6200;
    color: black;
    font-weight: 700;
}

#active-orange-description {
    color: #ff6200;
}

@media screen and (max-width: 500px) {
    #sample-title {
        font-size: 5.3vw;
    }

    .sample-title-space {
        height: 59px;
    }

    #active-orange-title {
        background-color: black;
        color: #ff6200;
        font-weight: 700;
    }

    .sample-alefbized {
        display: none;
    }

    #image-sample {
        display: none;
    }

    .dot {
        display: none;
    }

    .mobile-image {
        display: flex;
        width: 85vw;
    }

    #sample-section {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 80vw;
    }

    .white-title-sample {
        // margin-top: 24px;
        color: #ff6200;
        font-size: 5.1vw;
        height: auto;
        width: auto;
        text-align: right;
    }

    #buttons {
        justify-content: center;
    }

    .sample {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .description-sample {
        font-size: 4vw;
        margin-top: -2vh;
        height: 3.5211267605633805vh;
        width: 61.111111111111114vw;
    }

    .button {
        width: 80vw;
        pointer-events: none;
    }

    .float-right {
        margin-right: -10vw;
    }

    .float-left {
        margin-right: 4vw;
        margin-top: 2.5vh;
    }

    .text-left {
        text-align: left;
        margin-right: 15vw;
    }

    .text-left-title {
        text-align: left;
        margin-right: 35vw;
    }

    .polygon {
        display: none;
    }

    #orange-border {
        display: none;
    }

    .sample-container {
        display: none;
    }

    .mobile-sample-container {
        display: flex;
        width: 85vw;
        height: 61vw;
    }

    .sample-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
    }
    .button {
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    #buttons {
        justify-content: center;
        align-items: center;
        gap: 4.875rem;
    }

    .white-title-sample,
    #active-orange-title {
        text-align: center;
        z-index: 10000;
    }
}
