#filimo {
  width: 7vw;
}

#aparat {
  width: 7vw;
}

#naft {
  width: 5vw;
}

#mokhaberat {
  width: 4.5vw;
}

#ketabkhone {
  width: 4vw;
}

#tamasha {
  width: 3.5vw;
}

#varzesh3 {
  width: 3.1vw;
}

#jahad {
  width: 6.3vw;
}

#farabi {
  width: 3.5vw;
}

#parsian {
  width: 3.5vw;
}

#astan {
  width: 3.9vw;
}

@media screen and (max-width: 600px){
  #filimo {
    width: 26vw;
  }

  #aparat {
    width: 26vw;
  }

  #naft {
    width: 18.5vw;
  }

  #mokhaberat {
    width: 16.5vw;
  }

  #ketabkhone {
    width: 14.7vw;
  }

  #tamasha {
    width: 13vw;
  }

  #varzesh3 {
    width: 11.4vw;
  }

  #jahad {
    width: 23.2vw;
  }

  #farabi {
    width: 12.8vw;
  }

  #parsian {
    width: 12.8vw;
  }

  #astan {
    width: 14.5vw;
  }
}
