//primary table

#desktop-ketabkhaneh {
  width: 17vw;
  height: 17vw;
}

#desktop-naft {
  width: 19vw;
  height: 18vw;
}

#desktop-keshvar {
  width: 15vw;
  height: 17vw;
}

#desktop-parsian {
  width: 20vw;
  height: 19vw;
}

#desktop-taghche {
  width: 17vw;
  height: 18vw;
}

#desktop-varzesh {
  width: 17vw;
  height: 18vw;
}

#desktop-jahad {
  width: 20vw;
  height: 18vw;
}

#desktop-farabi {
  width: 16vw;
  height: 16vw;
}

#desktop-ammar {
  width: 20vw;
  height: 18vw;
}

#desktop-barid {
  width: 18vw;
  height: 18vw;
}

#desktop-fars {
  width: 19vw;
  height: 17vw;
}

#desktop-savaneh {
  width: 16vw;
  height: 18vw;
}

//secondary table

#desktop-mokhaberat {
  width: 18vw;
  height: 18vw;
}

#desktop-astan {
  width: 18vw;
  height: 18.5vw;
}

#desktop-lenzor {
  width: 18vw;
  height: 18vw;
}

#desktop-vira {
  width: 19vw;
  height: 18vw;
}

//tertiary table

#desktop-setad {
  width: 18vw;
  height: 18vw;
}

#desktop-azmoon {
  width: 19vw;
  height: 18vw;
}

#desktop-irandoc {
  width: 19vw;
  height: 18vw;
}

#desktop-filimo {
  width: 20vw;
  height: 20vw;
}

#desktop-nazdika {
  width: 17vw;
  height: 18vw;
}

#desktop-bimeh {
  width: 16vw;
  height: 17vw;
}

#desktop-tamasha {
  width: 15vw;
  height: 15vw;
}

#desktop-amin {
  width: 17vw;
  height: 17vw;
}

#desktop-bimarestan {
  width: 21vw;
  height: 21vw;
}

#desktop-iranrayaneh {
  width: 20vw;
  height: 20vw;
}

#desktop-bamdad {
  width: 20vw;
  height: 20vw;
}

#desktop-civilica {
  width: 15vw;
  height: 15vw;
}
