
#kashf #mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


#kashf #mobile-safari{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

#kashf #web{
    flex-direction: row;
    margin-right: 17.96vw;
    margin-left: 13.6vw;
    height: 88vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#kashf #web #text{
    height: 34.73vh;
    width: 33.2vw;
}

#kashf #web #space-between{
    width: 20.86vw;
}


#kashf #web #image{
    box-sizing: border-box;
    height: 20vh;
    width: 14.5vw;
}
