@font-face {
    src: url("../../src/assets/fonts/IRANYekan.ttf");
    font-family: iran-yekan;
}

#kashf #mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#kashf #mobile-safari{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

#kashf #web{
    flex-direction: row;
    margin-right: 17.96vw;
    margin-left: 13.6vw;
    height: 88vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#kashf #web #text{
    height: 34.73vh;
    width: 33.2vw;
}

#kashf #web #space-between{
    width: 20.86vw;
}

#kashf #web #image{
    box-sizing: border-box;
    height: 20vh;
    width: 14.5vw;
}

#kashf-main-text {
    width: 26vw;
    color: rgba(255, 255, 255, 0.82);
    font-family: iran-yekan, serif;
    font-size: 1.1vw;
    font-weight: normal;
    line-height: 1.8vw;
}

#kashf-title-text {
    color: rgb(255, 255, 255);
    font-size: 1.45vw;
    font-weight: 800;
    height: 1.3vw;
    font-family: iran-yekan, serif;
}

#kashf-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25vw;
    height: 10vw;
    margin-right: 6.3vw;
    margin-top: 5.5vw;
    position: absolute;
}

#kashf-emerging-title {
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: iran-yekan, serif;
    font-weight: normal;
}

#kashf-emerging-box {
    position: absolute;
    width: 3vw;
    margin-right: 3.9vw;
    margin-top: -0.85vw;
    height: 20vw;
}

#kashf-main-text-mobile {
    width: 14vw;
    color: rgba(255, 255, 255, 0.82);
    font-family: iran-yekan, serif;
    font-size: 0.9vw;
    font-weight: normal;
    line-height: 1.3vw;
}

#kashf-title-text-mobile {
    color: rgb(255, 255, 255);
    font-size: 1.15vw;
    font-weight: 800;
    height: 1.3vw;
    font-family: iran-yekan, serif;
}

#kashf-text-box-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25vw;
    height: 5vw;
    margin-right: 0.8vw;
    margin-top: 22.7vw;
    position: absolute;
}

#kashf-emerging-title-mobile {
    color: #FFFFFF;
    font-size: 1vw;
    font-family: iran-yekan, serif;
    font-weight: normal;
}

#kashf-emerging-box-mobile {
    position: absolute;
    width: 3.5vw;
    margin-right: 2.8vw;
    margin-top: 16.1vw;
    height: 20vw;
}
