#customers #web {
  display: flex;
  height: 90vh;
  width: 70vw;
}

#customers #web-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  background-color: transparent;
  border-color: transparent;
}

#toggle{
  height: 5vh;
  width: 10vw;
}

#customers #mobile {
  display: flex;
  height: 95vh;
}

#customers #mobile-safari{
  display: flex;
  height: 80vh;
}


#footer {
  margin-top: 8vh;
  height: 20vh;
  width: 100vw;
}
#footer-mobile {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

#background {
  width: 100vw;
  height: 100vh;
  position:absolute;
}

#customers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#to-top{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.71);
  color: white;
  font-weight: bold;
  border-radius: 1px;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  margin-right: 5vw;
  font-size: 1.3vw;
  transition: 1s;
  cursor: pointer;
}

#to-top:hover{
  border: 0.5px solid #FFFFFF;
  color: black;
  background-color: white;
  cursor: pointer;
}

#to-top-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #FFFFFF;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  margin-right: 10vw;
  font-size: 5vw;
  transition: 1s;
}

#to-top-mobile:hover{
  border: 0.5px solid #FFFFFF;
  color: black;
  background-color: white;
}
