#hamburger-menu {
  width: 30vw;
  height: 100vh;
  background-color: #0A0A0A;
  z-index: 5;
  float: left;
  position: absolute;
  transform: skew(-10deg);
  transition: 0.5s linear;
}

#hamburger-button {
  position: absolute;
  margin-top: 2.1vw;
  margin-right: 90vw;
  z-index: 300;
}

.closed {
  margin-right: 100vw;
}

.opened {
  margin-right: 77vw;
}

.hamburger-menu-button{
  text-decoration: none;
  color: #FFFFFF;
  font-family: iran-yekan, serif;
  font-size: 1.2vw;
  transform: skew(+10deg);
  transition: 0.5s;
}

.hamburger-menu-button:hover{
  color: #7AB8FF
}

#clients-button{
  cursor: pointer;
}


#hamburger-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  height: 32vh;
  margin-top: 22vh;
}

#hamburger-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-right: 2vw;
  margin-top: 38vh;
  font-size: 1.1vw;
}

.comp-temp {
  margin-top: 0;
  transform: skew(+10deg);
}


@media screen and (max-width: 600px){
  #hamburger-menu {
    display: none;
  }

  #hamburger-button{
    display: none;
  }
}
