.header-button{
  width: 30%;
  height: auto;
  text-decoration: none;
  color: #FFFFFF;
  font-family: iran-yekan, serif;
  font-size: 1.2vw;
  line-height: 0.5vw;
  transition: 0.5s;
}

.header-button:hover{
  color: #7AB8FF
}



@media screen and (max-width: 1000px){
  #clients-button{
    width: 35%;
  }
}

@media screen and (max-width: 600px){
   .header-button{
    margin-top: 3.125vh;
    height: 5.46vh;
    width: 50vw;
    font-size: 5.5vw;
  }
}
