.roshan-icon .icon{
  box-sizing: border-box;
  margin-right: 4.1875rem;
  width: 63.87px;
  height: 22.01px;
}

@media screen and (max-width: 500px){
  .roshan-icon .icon{
    margin-right: 2.0625rem;
    width: 53px;
    height: 18.13px;
  }
}
