html, body, .main {
    height: 100%;
    font-family: iranyekan-regular; /*TODO: add sans-serif, and fix problem when add sans-serif */
}

.top-bar-wrapper {
    padding-top: 3.88vw;
    padding-right: 9.03vw;
}

.top-bar {
    width: 33.72vw;
    height: 2.85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-bar .item {
    font-family: iranyekan-regular;
    font-size: 1.11vw;
}

.logo {
    background-color: #1b6d85;
    width: 4.65vw;
    height: 100%;
    font-family: iranyekan-medium;
    font-size: 1.66vw;
}

.left-image {
    width: 37.63vw;
    /*height: 67.22vw;*/
    height: calc(100% - 2.01vw);
    position: absolute;
    top: 2.01vw;
    left: 0;
}

.description {
    width: fit-content;
    height: 16.45vw;
    margin: 21.11vw 15vw 26.8vw 0;
    position: relative;
}

.description .text {
    text-align: right;
    color: #303030;
    font-size: 1.11vw;
}

.description .bold-text {
    margin-top: 1.25vw;
    text-align: right;
    font-size: 1.94vw;
    font-family: iranyekan-black;
}

.description .bold-text span {
    color: #0045B2;
}

.description .email {
    margin-top: 4.37vw;
    color: #303030;
    font-family: Helvetica-Light;
    font-size: 1.8vw;
}
