#email-name-mobile{
  height: 7.52vh;
  width: 55.56vw;
  margin-bottom: 1.56vh;
  margin-right: 11.12vw;
}
#name-mobile{
  width: 55.56vw;
  height: 3.2vh;
}

#email-mobile{
  width: 33.62vw;
  height: 3.28vh;
}
