.join-us #button{
  width: 6vw;
  height: 4vh;
}

#button:hover{
  #text{
    fill: #7AB8FF
  }
}

@media screen and (max-width: 500px){
  .join-us #button{
    margin-top: 3.125vh;
    height: 5.46vh;
    width: 27vw;
  }
}
