#harf{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100vw;
}

#harf #mobile-safari{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}


#harf #web{
  flex-direction: row;
  margin-right: 16.4vw;
  margin-left: 14.92vw;
  height: 88vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#harf #web #text{
  height: 34.73vh;
  width: 33.44vw;
}

#harf #web #image{
  box-sizing: border-box;
  margin-top: 12vh;
  height: 25.5vh;
  width: 25vw;
}

#harf #web #space-between{
  width: 11vw;
}

#harf-main-text {
  width: 21vw;
  color: rgba(255, 255, 255, 0.82);
  font-family: iran-yekan, serif;
  font-size: 1.1vw;
  font-weight: normal;
  line-height: 1.8vw;
}

#harf-title-text {
  color: rgb(255, 255, 255);
  font-size: 1.45vw;
  font-weight: 800;
  height: 1.3vw;
  font-family: iran-yekan, serif;
}

#harf-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
  height: 10vw;
  margin-right: 9vw;
  margin-top: 5.5vw;
  position: absolute;
}

#harf-emerging-title {
  color: #FFFFFF;
  font-size: 1.25vw;
  font-family: iran-yekan, serif;
  font-weight: normal;
}

#harf-emerging-box {
  position: absolute;
  width: 3vw;
  margin-right: 3.9vw;
  margin-top: -0.85vw;
  height: 20vw;
}

@media screen and (max-width: 600px){
  #harf {
    height: 100vh;
  }
}
