#hazm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#hazm #mobile-safari{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#hazm #web{
  flex-direction: row;
  margin-right: 14.77vw;
  margin-left: 16.71vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#hazm #web #text{
  height: auto;
  width: 32.9vw;
}

#hazm #web #space-between{
  width: 17.35vw;
}

#hazm #web #image{
  height: auto;
  width: 20vw;
}

#hazm-main-text {
  width: 20vw;
  color: rgba(255, 255, 255, 0.82);
  font-family: iran-yekan, serif;
  font-size: 1vw;
  font-weight: normal;
  line-height: 1.8vw;
}

#hazm-title-text {
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  font-weight: 800;
  height: 1.1vw;
  font-family: iran-yekan, serif;
}

#hazm-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
  height: 10vw;
  margin-right: 10vw;
  margin-top: 5.5vw;
  position: absolute;
}

#hazm-emerging-title {
  color: #FFFFFF;
  font-size: 1.25vw;
  font-family: iran-yekan, serif;
  font-weight: normal;
}

#hazm-emerging-box {
  position: absolute;
  width: 3vw;
  margin-right: 5vw;
  margin-top: -0.85vw;
  height: 20vw;
}

@media screen and (max-width: 600px){
  #hazm {
    height: 100vh;
  }
}
