@font-face {
    src: url("../../assets/fonts/IRANYekan.ttf");
    font-family: iran-yekan;
}

#kashf{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#kashf #mobile-safari{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

#kashf #web{
    flex-direction: row;
    margin-right: 17.96vw;
    margin-left: 13.6vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

#kashf #web #text{
    height: auto;
    width: 33vw;
}

#kashf #web #space-between{
    width: 20.86vw;
}

#kashf #web {
    #image {
        height: auto;
        width: 15vw;
    }
}

#web {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kashf-main-text {
    width: 26vw;
    color: rgba(255, 255, 255, 0.82);
    font-family: iran-yekan, serif;
    font-size: 1.1vw;
    font-weight: normal;
    line-height: 1.8vw;
}

#kashf-title-text {
    color: rgb(255, 255, 255);
    font-size: 1.45vw;
    font-weight: 800;
    height: 1.3vw;
    font-family: iran-yekan, serif;
}

#kashf-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25vw;
    height: 10vw;
    margin-right: 6.3vw;
    margin-top: 5.5vw;
    position: absolute;
}

#kashf-emerging-title {
    color: #FFFFFF;
    font-size: 1.25vw;
    font-family: iran-yekan, serif;
    font-weight: normal;
}

#kashf-emerging-box {
    position: absolute;
    width: 3vw;
    margin-right: 3.9vw;
    margin-top: -0.85vw;
    height: 20vw;
}

@media screen and (max-width: 600px){
    #kashf {
        height: 100vh;
    }
}
