.roshan-icon .icon{
  height:3vh;
  width:4.140625vw;
  margin-top: -1.1vh;
  margin-right: 7.75vw;
}

@media screen and (max-width: 500px){
  .roshan-icon .icon{
    height: 4.48vh;
    margin-right: 12vw;
    width: 15vw;
    margin-top: 0;
  }
}
