.header-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#compact-menu{
  height: 22.66vh;
  width: 28.61vw;
  margin-top: 27.34vh;
  margin-right: 36.11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#compact-menu #home{
  height: 5.47vh;
  width: 10.5vw;
}

#background {
  width: 100vm;
  height: 100vh;
  position:absolute;
}
