#fullpage-footer {
    display: flex;
    margin-top: 35vh;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.with-footer,
.without-footer {
    height: 100vh;
}

.with-footer .Fullpage {
    height: calc(100vh - 20px);
}

.menu-btn-new{
    cursor : pointer;
    z-index: 1000000;
    position:fixed;
    top: 30px;
    margin-right: 88vw;
}

.menu-btn-new img {
    height: 42px;
    width: 42px;
}

@media screen and (max-width: 600px) {
    .menu-btn-new{
        display: none;
    }
}