#fullpage-footer {
    display: flex;
    margin-top: 35vh;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.with-footer,
.without-footer {
    height: 100vh;
}

.with-footer .Fullpage {
    height: calc(100vh - 50px);
}
