.alefba {
    width: 100%;
    background-image: url("../images/alefba-mobile-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.alefba-image {
    float: right;
    height: inherit;
    position: relative;
    width: 50%;
}
.alefba-web-button{
    display: none;
}
.alefba-imageWeb {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.alefba-introduce {
    position: relative;
    width: 50%;
    float: left;
    height: inherit;
}
.alefba-title {
    direction: rtl;
    font-size: 10.66vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin: 0;
}
.alefba-head{
    font-size: 7.995vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}
.alefba-describe {
    font-size: 4.798vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin: 0 auto;
}
.alefba-button {
    color: #ffffff;
    height: 12.792vw;
    font-size: 3.198vw;
    border-radius: 0.666vw;
    box-shadow: 0.3996vw 0.3996vw 0.7995vw 0 rgba(0, 0, 0, 0.16);
    background-color: #245779;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    margin: 0 auto;
    width: 83%;
    margin-top: 3%;
    margin-bottom: 5%;

}
.alefba-button:hover {
    color: white;
}
.alefba-border {
    border-right: 0.7995vw solid;
    border-right-color: black;
    padding: 0 2.744vw;
    margin-top: 5%;
    padding-bottom: 7%;

}
.mobile-image-center{
    text-align: center;
}
.alefba-mobile-image{
    height: auto;
    width: 84vw;
}
.alefba-web-image {
    display: none;
}
@media only screen and (max-width: 450px)
{
    .alefba{
        width: 100%;
        background-size: 100% 100%;
    }
}
@media only screen and (min-width: 550px)
{
    .alefba{
        width: 100%;
        background-size: 100% 100%;
    }
}
@media only screen and (min-width: 650px)
{
    .alefba{
        width: 100%;
        background-size: 100% 100%;
    }
}
@media only screen and (min-width: 750px)
{
    .alefba{
        width: 100%;
        background-size: 100% 100%;
    }
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media only screen and (min-width: 912px) {
    .alefba {
        width: 100%;
        background-image: url("../images/alefbaBackground.png");
        background-repeat: no-repeat;
    }
    .alefba-web-text{
        width: 70%;
        order: 1;
        margin-top: 15.90vw;
        margin-bottom: 15.90vw;
    }
    .alefba-image {
        float: right;
        height: inherit;
        position: relative;
        width: 50%;
    }
    .alefba-imageWeb {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .alefba-introduce {
        position: relative;
        width: 50%;
        float: left;
        height: inherit;
    }
    .alefba-title {
        direction: rtl;
        font-size: 2.5654vw;
        font-weight: bold;
        font-family: IRANYekanMobileFaNum;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        font-family: IRANYekanMobileFaNum, serif;
    }
    .alefba-head{
        font-family: IRANYekanMobileFaNum;
        font-size: 1.64vw;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        margin-top: 0.974vw;

    }
    .alefba-describe {
        font-family: IRANYekanMobileFaNum;
        font-weight: 300;
        font-size: 1.02vw;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        margin: 0 auto;
        margin-top: 0.9235vw;

    }
    .alefba-web-button{
        display: block;
    }
    .alefba-mobile-button{
        display: none;
    }
    .alefba-button {
        font-family: IRANYekanMobileFaNum;
        color: #ffffff;
        width: 7.59vw;
        height: 2.46vw;
        border-radius: 2.5px;
        box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #245779;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        font-size: 0.71vw;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        margin-left: 15.7vw;
        float: left;

    }
    .alefba-button:hover {
        color: white;
    }

    .alefba-border {
        width: 70%;
        border-right: 5px solid;
        border-right-color: #000000;
        padding: 0.64375rem;
        margin: 0;

    }

    .alefba-mobile-image {
        display: block;
        margin: 11.133vw auto;
        width: 27.34vw;
        height: 26.47vw;
    }




}