.join-us-page #wrapper {
    width: 100vw;
}

.join-us-page {
    display: flex;
    width: 100vw;
    height: 100%;
}

.social {
    display: flex;
    margin-top: 2.25rem;
    margin-inline: auto;
    width: max-content;
    gap: 1.25rem;
}

.social a {
    line-height: 0;
}

@media (hover: hover) and (pointer: fine) {
    .social a:hover {
        background-color: #1e252f;
    }
}

.text-wrapper {
    margin-top: 4.375rem;
    margin-inline: auto;
    width: fit-content;
    padding-inline: 2.0625rem;
    font-family: 'iran-yekan';
    font-size: 15px;
    color: white;
}

.text-wrapper {
    p {
        margin: 0;
    }
}



.text-wrapper svg {
    margin-right: 7px;
    width: 46px;
    height: 16.05px;
}

@media screen and (min-width: 600px) {
    .join-us-page {
        align-items: center;
    }

    .text-wrapper {
        padding-inline: 0;
        margin-top: 0;
    }

    .text-wrapper,
    .social {
        margin-inline-start: 9rem;
        font-size: 16px;
    }
}