.header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mobile-menu-link {
    font-family: iran-yekan, serif;
    color: white;
    text-decoration: none;
    font-size: 6.2vw;
    width: 40vw;
    text-align: center;
}

#compact-menu {
    margin-top: 20vh;
    height: 45.66vh;
    width: 28.61vw;
    margin-right: 36.11vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#compact-menu #home {
    height: 5.47vh;
    width: 29vw;
}

#background {
    width: 100vm;
    height: 100vh;
    position: absolute;
}

#all {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../src/assets/images/man-under-night-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
    transition: none;
}
