@font-face {
  font-family: iranYekan;
  src: url(../../../assets/IRANYekan.ttf);
}

#contact-us{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:62.5vh;
  width:78.125vw;
  margin-top: 11.7vh;
}

#main-image{
  height:auto;
  width:35.15625vw;
}
