@font-face {
  font-family: iranYekan;
  src: url(../../../assets/IRANYekan.ttf);
}

.contact-us-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#group{
  height:auto;
  width:80.125vw;
  flex-direction: row;
  display: flex;
  margin-top: 5.5vw;
  justify-content: space-between;
  align-items: center;
}

#main-image{
  height:auto;
  width:33.15625vw;
}

#text-links{
  height:47.22222222222222vh;
  width:36.328125vw;
}

p{
  color: white;
  font-size: 1vw;
  direction: rtl;
  font-family: iranYekan, serif;
}

#body-text{
  margin-top: 2vw;
  height:auto;
  width:36.71875vw;
}

#in-the-name{
  height:3.4722222222222223vh;
  width:11.71875vw;
}

#email-row{
  margin-top: 3.5vw;
  height:auto;
  width:12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#email-icon{
  width:1.6vw;
  height: auto;
}

#phone-icon{
  width:1.5vw;
  height: auto;
}

#phone-row{
  height:auto;
  width:10.9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#address-row{
  height:auto;
  width:33.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#location-icon{
  width:1.4vw;
  height: auto;
}
