@font-face {
    font-family: iran-yekan;
    src: url('assets/IRANYekan.ttf');
}

* {
    transition: 1s;
}

.my-button {
    position: absolute;
    margin-top: 2.5vw;
    z-index: 1000;
    margin-left: 6vw;
}

.menu {
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0a0a0a;
    position: absolute;
    margin-right: 80vw;
    width: 20vw;
}

.menu-items {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
}

.my-cross {
    transform: scale(1.2);
    margin-top: 1vw;
    transition: 0.2s;
    margin-right: 80.5vw;
    z-index: 1000;
}

.my-cross:active {
    transform: scale(1);
}

.my-button {
    transition: 0.4s;
    position: absolute;
    margin-top: 27px;
    margin-right: 90vw;
    width: 27px;
}

.my-button:active {
    transform: scale(0.5);
}

@media screen and (max-width: 600px) {
    .my-button {
        margin-top: 8vw;
        width: 10vw;
        margin-left: 9vw;
        display: none;
    }

    .menu-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .my-cross {
        display: none;
    }
}
