.header-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#compact-menu{
  margin-top: 20vh;
  height: 45.66vh;
  width: 28.61vw;
  margin-right: 36.11vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


#mobile-menu-link {
  font-family: iran-yekan, serif;
  color: white;
  text-decoration: none;
  font-size: 6.2vw;
  width: 40vw;
  text-align: center;
}

#compact-menu #home{
  height: 5.47vh;
  width: 29vw;
}

#background {
  width: 100vm;
  height: 100vh;
  position:absolute;
}

#navigation-button {
  font-family: iranYekan, serif;
  position: absolute;
  z-index: 100;
  width: 11.5vw;
  margin-right: 82.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2.5vw;
  margin-top: 37vw;
  font-size: 1vw;
  background-color: #4286F5;
}

#navigation-button span:nth-child(1) {
    margin-top: -3px;
}

#map-image {
  float: left;
  z-index: -100;
  position: absolute;
  margin-right: 55vw;
  width: 45vw;
}

@media screen and (max-width: 600px){
  #map-image {
    display: none;
  }

  #all {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .hidden-image{
    display: none;
  }

  #navigation-button {
    margin-top: 85vh;
    width: 35vw;
    height: 10vw;
    margin-right: 55vw;
    font-size: 4vw;
  }
}
