.roshan-icon .icon{
  height: 4.2vh;
  width: 3.8vw;
  margin-top: -1.2vh;
  margin-right: 8vw;
}

@media screen and (max-width: 500px){
  .roshan-icon .icon{
    height: 4.48vh;
    margin-right: 11vw;
    width: 15vw;
    margin-top: 0;
  }
}
