.roshan-icon .icon{
  box-sizing: border-box;
  height: auto;
  width:4vw;
  margin-top: 3px;
  margin-right: 7.75vw;
}

@media screen and (max-width: 500px){
  .roshan-icon .icon{
    height: 4.48vh;
    margin-right: 12vw;
    width: 15vw;
    margin-top: 0;
  }
}
