.initially-hidden {
  opacity: 0;
}
//keyframes
@keyframes ketabkhaneh {
  0%{
    opacity: 0;
  }
  4.8%{
    opacity: 1;
  }
  28.6%{
    opacity: 1;
  }
  33.4%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes mokhaberat {
  0%{
    opacity: 0;
  }
  33%{
    opacity: 0;
  }
  37.8%{
    opacity: 1;
  }
  61.6%{
    opacity: 1;
  }
  66.4%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
@keyframes setad {
  0%{
    opacity: 0;
  }
  66%{
    opacity: 0;
  }
  70.8%{
    opacity: 1;
  }
  94.6%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
//variables
$delay1: 31s;
$delay2: 62s;
$delay3: 93s;
$delay4: 124s;
$delay5: 155s;
$delay6: 186s;
$delay7: 217s;
$delay8: 248s;
$delay9: 279s;
$delay10: 310s;
$delay11: 341s;
//
@mixin animate-primary($delay) {
  animation-name: ketabkhaneh;
  animation-duration: 21s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: $delay;
}
@mixin animate-secondary($delay) {
  animation-name: mokhaberat;
  animation-duration: 21s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: $delay;
}
@mixin animate-tertiary($delay) {
  animation-name: setad;
  animation-duration: 21s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: $delay;
}

//primary table
#desktop-ketabkhaneh {
  @include animate-primary(0s);
  width: 17vw;
  height: 17vw;
}
#desktop-naft {
  @include animate-primary($delay1);
  width: 19vw;
  height: 18vw;
}
#desktop-keshvar {
  @include animate-primary($delay2);
  width: 15vw;
  height: 17vw;
}
#desktop-parsian {
  @include animate-primary($delay3);
  width: 20vw;
  height: 19vw;
}
#desktop-taghche {
  @include animate-primary($delay4);
  width: 17vw;
  height: 18vw;
}
#desktop-varzesh {
  @include animate-primary($delay5);
  width: 17vw;
  height: 18vw;
}

#desktop-jahad {
  @include animate-primary($delay6);
  width: 20vw;
  height: 18vw;
}

#desktop-farabi {
  @include animate-primary($delay7);
  width: 16vw;
  height: 16vw;
}

#desktop-ammar {
  @include animate-primary($delay8);
  width: 20vw;
  height: 18vw;
}

#desktop-barid {
  @include animate-primary($delay9);
  width: 18vw;
  height: 18vw;
}

#desktop-fars {
  @include animate-primary($delay10);
  width: 19vw;
  height: 17vw;
}

#desktop-savaneh {
  @include animate-primary($delay11);
  width: 16vw;
  height: 18vw;
}

//secondary table
#desktop-mokhaberat {
  @include animate-secondary(0s);
  width: 18vw;
  height: 18vw;
}
#desktop-astan {
  @include animate-secondary($delay1);
  width: 18vw;
  height: 18.5vw;
}
#desktop-aparat-3{
  @include animate-secondary($delay2);
  width: 15vw;
  height: 17vw;
}
#desktop-lenzor {
  @include animate-secondary($delay3);
  width: 18vw;
  height: 18vw;
}

#desktop-vira {
  @include animate-secondary($delay4);
  width: 19vw;
  height: 18vw;
}
#desktop-jahad-6{
  @include animate-secondary($delay5);
  width: 20vw;
  height: 18vw;
}
#desktop-farabi-7{
  @include animate-secondary($delay6);
  width: 16vw;
  height: 16vw;
}
#desktop-ammar-8{
  @include animate-secondary($delay7);
  width: 20vw;
  height: 18vw;
}
#desktop-barid-9{
  @include animate-secondary($delay8);
  width: 18vw;
  height: 18vw;
}
#desktop-fars-10{
  @include animate-secondary($delay9);
  width: 19vw;
  height: 17vw;
}
#desktop-savaneh-11{
  @include animate-secondary($delay10);
  width: 16vw;
  height: 18vw;
}
#desktop-aparat-12{
  @include animate-secondary($delay11);
  width: 15vw;
  height: 17vw;
}
//tertiary table

#desktop-setad {
  @include animate-tertiary(0s);
  width: 18vw;
  height: 18vw;
}
#desktop-azmoon {
  @include animate-tertiary($delay1);
  width: 19vw;
  height: 18vw;
}
#desktop-irandoc {
  @include animate-tertiary($delay2);
  width: 19vw;
  height: 18vw;
}
#desktop-filimo {
  @include animate-tertiary($delay3);
  width: 20vw;
  height: 20vw;
}
#desktop-nazdika {
  @include animate-tertiary($delay4);
  width: 17vw;
  height: 18vw;
}
#desktop-bimeh {
  @include animate-tertiary($delay5);
  width: 16vw;
  height: 17vw;
}
#desktop-tamasha {
  @include animate-tertiary($delay6);
  width: 15vw;
  height: 15vw;
}
#desktop-amin {
  @include animate-tertiary($delay7);
  width: 17vw;
  height: 17vw;
}
#desktop-bimarestan {
  @include animate-tertiary($delay8);
  width: 21vw;
  height: 21vw;
}
#desktop-iranrayaneh {
  @include animate-tertiary($delay9);
  width: 20vw;
  height: 20vw;
}
#desktop-bamdad {
  @include animate-tertiary($delay10);
  width: 20vw;
  height: 20vw;
}
#desktop-civilica {
  @include animate-tertiary($delay11);
  width: 15vw;
  height: 15vw;
}
