#alefba #mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#alefba #mobile-safari{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#alefba #web{
  flex-direction: row;
  margin-right: 14.69vw;
  margin-left: 18.36vw;
  height: 88vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#alefba #web #text{
  height: 34.73vh;
  width: 33.75vw;
}

#alefba #web #space-between{
  width: 17.35vw;
}

#alefba #web #image{
  height: 32.36vh;
  width: 15.79vw;
}
