.our-customer {
  background-color: white;
  direction: ltr;
  height: 98vw;
  padding-bottom: 9vw;
}

.our-customer .title {
  font-size: 8vw;
  font-family: IRANYekanMobileFaNum, serif;
  font-weight: bold;
  text-align: center;
  color: #000000;
  padding-top: 5vw;
  margin-bottom: 9vw;
  height: 18%;
}

.mobile-customer {
  display: flex;
  height: 82%;
  justify-content: center;
  align-items: flex-start;
  .logo-item {
    width: 33%;
    height: 31.7vw;
  }
}


.web-customer {
  display: none;
}

.slider-two {
  width: 90%;
}

.item-row {
  margin-bottom: 5.33vw;
}


/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media screen and (min-width: 912px) {

  .mobile-customer {
    display: none;
  }

  .our-customer {
    background-color: #e4e4e4;
    height: auto;
    direction: ltr;
    padding-bottom: 0;
    .title {
      font-family: IRANYekanMobileFaNum, serif;
      font-size: 2.6vw;
      font-weight: bold;
      text-align: center;
      color: #000000;
      padding-top: 2.6vw;
      margin-bottom: 3vw;
    }
  }

  .web-customer {
    width: 64%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1rem;

    .row-one {
      grid-row: 1;
      display: grid;
      grid-template-columns: 0.215fr 0.1999fr 0.1853fr 0.1853fr 0.1853fr;
      grid-column-gap: 1.2em;
      height: max-content;
    }

    .row-two {
      grid-row: 2;
      display: grid;
      grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 1.2em;
      height: max-content;
    }

    .row-three{
      grid-row: 3;
      display: grid;
      direction: rtl;
      grid-template-columns:0.1860fr 0.16680fr  0.2082fr 0.3825fr 0.1996fr ;
      grid-column-gap: 3em;
      height: max-content;
    }


    .customer-image {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.4;

      &:hover, &:focus {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }

  .customer-one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin: auto;
  }
  .customer-two {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: auto;
  }
  .customer-three {
    grid-column: 3/4;
    grid-row: 1;
    width: 100%;
    margin: auto;
  }
  .customer-four {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    margin: auto;
  }
  .customer-five {
    grid-column: 5;
    grid-row: 1;
    width: 100%;
    margin: auto;
  }
  .customer-six {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    margin: auto;
  }
  .customer-seven {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    margin: auto;
  }
  .customer-eight {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    margin: auto;
  }
  .customer-nine {
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    margin: auto;
  }
  .customer-ten {
    grid-column: 5;
    grid-row: 2;
    width: 100%;
    margin: auto;
  }
  .customer-eleven {
    grid-column: 6;
    grid-row: 2;
    width: 100%;
    margin: auto;

  }
  .customer-twelve {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    margin: auto;
  }

  .customer-thirteen {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .customer-fourteen {
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    margin: auto;
  }

  .customer-fifteen {
    grid-column: 4;
    grid-row: 3;
    width: 100%;
    margin: auto;
  }

  .customer-sixteen {
    grid-column: 5;
    grid-row: 3;
    width: 100%;
    margin: auto;
  }
}
