.our-customer {
  background-color: white;
  direction: ltr;
  padding-bottom: 9vw;

  .title {
    font-size: 8vw;
    font-family: IRANYekanMobileFaNum, serif;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding-top: 5vw;
    margin-bottom: 9vw;
    height: 18%;
  }
}

@keyframes slide-show {
  0% {transform: translateX(0)}
  100% {transform: translateX(100%)}
}


.mobile-customer {

  //.owl-carousel{
  //  .owl-item.active {
  //    width: max-content;
  //    .item{
  //      width: 289vw!important;
  //      height: 72vw;
  //      overflow-x: hidden;
  //      background: url("../../src/images/customer-mobile/customer-mobile2.png");
  //      background-repeat: no-repeat;
  //      background-size: 100% 100%;
  //      background-position: 10% 0;
  //      animation: slide-show 30s linear infinite;
  //    }
  //  }
  //}

  display: flex;
  height: 82%;
  justify-content: center;
  align-items: flex-start;

  .slider-two {
    width: 90%;

    .item-row {
      margin-bottom: 5.33vw;
    }
  }

  .customer-image {
    width: 33%;
    height: 27.46vw;
    background: url("../../src/images/customer-mobile/customer-mobile.png");
    background-repeat: no-repeat;
    background-size: 255vw;
  }

  .customer-one {
    background-position: 75.6% 10%;
  }

  .customer-two {
    background-position: 88% 10%;
  }

  .customer-three {
    background-position: 101% 10%;
  }

  .customer-four {
    background-position: 76% 84%;
  }

  .customer-five {
    background-position: 88% 84%;
  }

  .customer-six {
      background-position: 100.9% 84%;
  }

  .customer-seven {
    background-position: 29.7% 13%;
  }

  .customer-eight {
    background-position: 14% 87%;
  }

  .customer-nine {
    background-position: 101% 87%;
  }

  .customer-ten {
    background-position: 0 84%;
  }

  .customer-eleven {
    background-position: -1% 11%;
  }

  .customer-twelve {
    background-position: 13.9% 10%;
  }

  .customer-thirteen {
    background-position: 47% 107%;
    background-size: 171vw!important;
  }

  .customer-fourteen {
    background-position: 29.2% 91%;
    background-size: 237vw!important;
  }

  .customer-fifteen {
    background-position: 63% 12%;
  }

  .customer-sixteen {
    background-position: 62.9% 84%;
  }

  //@keyframes move_animate {
  //  0% { left: 150%; opacity: 1; }
  //  36% { left:  50%; opacity: 1; }
  //  72% { left: -50%; opacity: 1; }
  //  100% { left: -50%; }
  //}

  //.container_carousel {
  //  margin: 0 auto;
  //  width: 8000px;
  //  background: red;
  //  padding: 36px;
  //  display: flex;
  //  overflow-x: hidden;
  //  position: relative;
  //
  //  .carousel-item2 {
  //    padding: 36px;
  //    position: absolute;
  //    width: 3000px;
  //    background: #efefef;
  //    text-align: center;
  //    border-radius: 4px;
  //    top: 50%; left: 50%;
  //    animation: move_animate 10s;
  //
  //    &:hover {
  //      animation-play-state: paused;
  //    }
  //  }
  //}

}


.web-customer {
  display: none;
}


/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media screen and (min-width: 992px) {

  .mobile-customer {
    display: none;
  }

  .our-customer {
    background-color: #e4e4e4;
    height: auto;
    direction: ltr;
    padding-bottom: 0;

    .title {
      font-family: IRANYekanMobileFaNum, serif;
      font-size: 2.6vw;
      font-weight: bold;
      text-align: center;
      color: #000000;
      padding-top: 2.6vw;
      margin-bottom: 0;
    }
  }

  .web-customer {
    width: 66%;
    margin: 3vw auto;
    display: grid;
    grid-row-gap: 2rem;

    > div {
      justify-content: space-between;
    }

    .customer-image {
      background: url("../../src/images/customer-web/customers.png");
      background-repeat: no-repeat;
      -webkit-background-size: 64vw;
      background-size: 64vw;

      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.4;

      &:hover, &:focus {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }

    .row-one {
      grid-row: 1;
      display: grid;
      grid-template-columns: 1.2fr 1.1fr 1fr 1fr 1fr;
      grid-column-gap: 1em;
      height: auto;

      .customer-one {
        grid-column: 1;
        grid-row: 1;
        margin: auto 0;

        div {
          height: 11vw;
          background-position: 0 4%;
        }
      }

      .customer-two {
        grid-column: 2;
        grid-row: 1;
        margin: auto 0;

        div {
          height: 12.1vw;
          background-position: 27% 4%;
        }
      }

      .customer-three {
        grid-column: 3;
        grid-row: 1;
        margin: auto 0;

        div {
          height: 12vw;
          background-position: 52% 4%;
        }
      }

      .customer-four {
        grid-column: 4;
        grid-row: 1;
        margin: auto 0;

        div {
          height: 12vw;
          background-position: 76% 4%;
        }
      }

      .customer-five {
        grid-column: 5;
        grid-row: 1;
        margin: auto 0;

        div {
          height: 12vw;
          background-position: 100% 3%;
        }
      }
    }

    .row-two {
      grid-row: 2;
      display: grid;
      grid-template-columns: 1.45fr 1.2fr 0.9fr 1.1fr 1.1fr 1.15fr;
      grid-template-rows: max-content;
      grid-column-gap: 0.5em;
      height: auto;

      .customer-six {
        grid-column: 1;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 0 55%;
          margin-right: 0.4vw;
          height: 8.33vw;
        }
      }

      .customer-seven {
        grid-column: 2;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 23% 55%;
          margin-left: 0.5vw;
          height: 10.93vw;
        }
      }

      .customer-eight {
        grid-column: 3;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 43% 55%;
          height: 10.93vw;
        }
      }

      .customer-nine {
        grid-column: 4;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 61.5% 55%;
          height: 10.93vw;
        }
      }

      .customer-ten {
        grid-column: 5;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 80% 55%;
          height: 12.5vw;
        }
      }

      .customer-eleven {
        grid-column: 6;
        grid-row: 2;
        margin: auto 0;

        div {
          background-position: 100% 55%;
          height: 12.5vw;
        }
      }
    }

    .row-three {
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr 2.2fr 1.25fr 0.8fr 1.1fr;
      grid-column-gap: 2rem;
      height: auto;

      .customer-twelve {
        grid-column: 1;
        grid-row: 3;
        margin: auto 0;

        div {
          height: 8.25vw;
          background-position: 2% 94%;
        }
      }

      .customer-thirteen {
        grid-column: 2;
        grid-row: 3;
        margin: auto 0;

        div {
          height: 6.25vw;
          background-position: 25% 88%;
        }
      }

      .customer-fourteen {
        grid-column: 3;
        grid-row: 3;
        margin: auto 0;

        div {
          height: 8.93vw;
          background-position: 59% 94%;
        }
      }

      .customer-fifteen {
        grid-column: 4;
        grid-row: 3;
        margin: auto 0;

        div {
          height: 9.2vw;
          background-position: 78% 95%;
        }
      }

      .customer-sixteen {
        grid-column: 5;
        grid-row: 3;
        margin: auto 0;

        div {
          height: 8.7vw;
          background-position: 99% 96%;
        }
      }
    }
  }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
