@font-face {
    font-family: IRANYekanBOld;
    src: url("../Fonts/IRANYekanBold.ttf") ;
}
@font-face {
    font-family: IRANYekanWeb;
    src: url("../Fonts/iranyekanwebbold.ttf") ;
    font-weight: bold;
}
@font-face {
    font-family: IRANYekanWeb;
    src: url("../Fonts/iranyekanweblight(fanum).ttf");
    font-weight: 300;
}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../Fonts/IRANYekanMobileBold(FaNum).ttf");
    font-weight: bold;
}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../Fonts/IRANYekanMobileRegular.ttf");
    font-weight: 400;

}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../Fonts/IRANYekanMobileLight.ttf");
    font-weight: 300;
}