@font-face {
    font-family: IRANYekanBOld;
    src: url("../../src/fonts/IRANYekanBold.ttf") ;
}
@font-face {
    font-family: IRANYekanWeb;
    src: url("../../src/fonts/iranyekanwebbold.ttf") ;
    font-weight: bold;
}
@font-face {
    font-family: IRANYekanWeb;
    src: url("../../src/fonts/iranyekanweblight(fanum).ttf");
    font-weight: 300;
}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../../src/fonts/IRANYekanMobileBold(FaNum).ttf");
    font-weight: bold;
}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../../src/fonts/IRANYekanMobileRegular.ttf");
    font-weight: 400;

}
@font-face {
    font-family: IRANYekanMobileFaNum;
    src: url("../../src/fonts/IRANYekanMobileLight.ttf");
    font-weight: 300;
}
