.footer {
  box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #4286f5;
  color: white;
  padding: 7.5px 10px 10px 19px;
  font-family: IRANYekanMobileFaNum, serif;
  text-align: right;

  .footer-title {
      margin-bottom: 13.5px;

      span:first-child {
        font-size: 4.264vw;
      }

      span:last-child {
        font-weight: bold;
        font-size: 5.33vw;
      }
    }

  .footer-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;

      .footer-company {
        font-weight: 300;
        .footer-company-address {
          display: flex;
          align-items: flex-start;
          margin-bottom:  4.8px;
          img.icon {
            width: 7.6px;
            height: 12.2px;
            margin-left: 5.4px;
          }
          .text {
            font-size: 4.264vw;
            display: inline-block;
            text-align: right;
          }
        }

        .footer-company-email {
          margin-bottom: 5px;
          img.icon {
            width: 9px;
            height: 7.2px;
            margin-left: 5.4px;
          }

          .text {
            font-size: 4.264vw;
            text-align: right;
          }
        }

        .footer-company-call-number {
          img.icon {
            width: 9px;
            height: 9px;
            margin-left: 5.4px;
          }

          .text {
            font-size: 4.264vw;
            text-align: right;
          }
        }
      }

      .footer-information {
        margin-top: 13.5px;
        padding-right: 13.5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-size: 4.264vw;
          font-weight: bold;
          text-align: right;
        }
      }
  }
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media only screen and (min-width: 912px) {
  .footer {
    height: max-content;
    box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #4286f5;
    color: #ffffff;
    padding: 1.1875em 9.5625em 1.25em 12.4375em;
    font-family: IRANYekanMobileFaNum, serif;
    text-align: right;

    .footer-title {
      margin-bottom: 0.98125em;

      span:first-child {
        font-size: 0.625em
      }

      span:last-child {
        font-weight: bold;
        font-size: 0.9375em
      }
    }

    .footer-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.625em;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;

      .footer-company {
        font-weight: 300;
        .footer-company-address {
          display: flex;
          align-items: flex-start;
          margin-bottom:  0.23125em;
          img.icon {
            width: 0.625em;
            height: 1.00625em;
            margin-left: 0.4375em;
          }

          .text {
            display: inline-block;
            width: 13em;
            height: 2.375em;
            text-align: right;
          }
        }

        .footer-company-email {
          margin-bottom: 0.625em;
          img.icon {
            width: 0.80625em;
            height: 0.64375em;
            margin-left: 0.4375em;
          }

          .text {
            width: 3.96875em;
            height: 0.96875em;
            text-align: right;
          }
        }

        .footer-company-call-number {
          img.icon {
            width: 0.8em;
            height: 0.8em;
            margin-left: 0.4375em;
          }

          .text {
            width: 6em;
            height: 0.96875em;
            text-align: right;
          }
        }
      }

      .footer-information {
        display: inline-block;
        height: 5.46875em;
        width: 3.375em;
        p {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
