.footer {
  height: 8.28125rem;
  box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #4286f5;
  color: white;
  padding: 0.46875rem 0.625rem 0.625rem 1.1875rem;
  font-family: IRANYekanMobileFaNum, serif;
  text-align: right;

  .footer-title {
      margin-bottom: 0.84375rem;

      span:first-child {
        font-size: 0.635rem
      }

      span:last-child {
        font-weight: bold;
        font-size: 0.625rem
      }
    }

  .footer-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 0.5rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;

      .footer-company {
        font-weight: 300;
        .footer-company-address {
          display: flex;
          align-items: flex-start;
          margin-bottom:  0.3rem;
          img.icon {
            width: 0.475rem;
            height: 0.7625rem;
            margin-left: 0.3375rem;
          }
          .text {
            display: inline-block;
            width: 9.09375rem;
            height: 1.5875rem;
            text-align: right;
          }
        }

        .footer-company-email {
          margin-bottom: 0.3125rem;
          img.icon {
            width: 0.5625rem;
            height: 0.45rem;
            margin-left: 0.3375rem;
          }

          .text {
            width: 3.1875rem;
            height:  0.78125rem;
            text-align: right;
          }
        }

        .footer-company-call-number {
          img.icon {
            width: 0.5625rem;
            height: 0.5625rem;
            margin-left: 0.3375rem;
          }

          .text {
            width: 3.53125rem;
            height: 0.78125rem;
            text-align: right;
          }
        }
      }

      .footer-information {
        padding-right: 0.84375em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          font-weight: bold;
          text-align: right;
        }
      }
  }
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media only screen and (min-width: 912px) {
  .footer {
    height: 10.0625rem;
    box-shadow: 0 -1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #4286f5;
    color: #ffffff;
    padding: 1.1875rem 9.5625rem 1.25rem 12.4375rem;
    font-family: IRANYekanMobileFaNum, serif;
    text-align: right;

    .footer-title {
      margin-bottom: 0.98125rem;

      span:first-child {
        font-size: 0.625rem
      }

      span:last-child {
        font-weight: bold;
        font-size: 0.9375rem
      }
    }

    .footer-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.625rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;

      .footer-company {
        font-weight: 300;
        .footer-company-address {
          display: flex;
          align-items: flex-start;
          margin-bottom:  0.23125rem;
          img.icon {
            width: 0.625rem;
            height: 1.00625rem;
            margin-left: 0.4375rem;
          }

          .text {
            display: inline-block;
            width: 13rem;
            height: 2.375rem;
            text-align: right;
          }
        }

        .footer-company-email {
          margin-bottom: 0.625rem;
          img.icon {
            width: 0.80625rem;
            height: 0.64375rem;
            margin-left: 0.4375rem;
          }

          .text {
            width: 3.96875rem;
            height: 0.96875rem;
            text-align: right;
          }
        }

        .footer-company-call-number {
          img.icon {
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 0.4375rem;
          }

          .text {
            width: 6rem;
            height: 0.96875rem;
            text-align: right;
          }
        }
      }

      .footer-information {
        display: inline-block;
        height: 5.46875rem;
        width: 3.375rem;
        p {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
