$mobile-button-width : 79%;
.harf {
    height: auto;
    width: 100%;
    background-size: 100% 100%;
    background: white;
    background-image: url("../../src/images/harf/back-harf.png");
    background-repeat: no-repeat;

}

.harf-text {
    border-right: 0.7995vw solid;
    border-right-color: black;
    padding: 0 2.744vw;
    margin-top: 5%;
    padding-bottom: 7%;

    .harf-title {
        font-family: IRANYekanMobileFaNum;
        direction: rtl;
        font-size: 10.66vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        margin-bottom: 0.5rem;
    }

    .harf-head{
        font-family: IRANYekanMobileFaNum;
        font-size: 7.995vw;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        margin: 0;
    }

    .harf-describe-mobile {
        font-family: IRANYekanMobileFaNum;
        font-size: 4.798vw;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
        margin: 0 auto;
    }

    .harf-describe-web {
        display: none;
    }
}

.harf-web-button{
    display: none;
}

.harf-mobile-button {

    width: $mobile-button-width;
    margin-bottom: 8%;

    .harf-button {
        font-family: IRANYekanMobileFaNum;
        color: #ffffff;
        height: 12.792vw;
        border-radius: 0.666vw;
        box-shadow: 0.3996vw 0.3996vw 0.7955vw 0 rgba(0, 0, 0, 0.16);
        background-color: #245779;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-size: 3.198vw;
    }

    .harf-button:hover {
        color: white;
    }
}

.harf-image {
    text-align: center;
    height: 75.9525vw;
}

.harf-imageWeb {
    width: 51.4543vw;
    height: 51.4545vw;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

@media only screen and (min-width: 450px)
{
    .harf{
        background-size: 100% 100%;
    }
    /*.harf-imageWeb {*/
    /*    width: 231px;*/
    /*    height: 231px;*/
    /*}*/
}

/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media only screen and (min-width: 992px) {

    .harf {
        background-image: url('../../src/images/harf/harf-background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 49.47vw;
    }

    .harf-text-outer {
        margin-bottom: 16.67vw;
        margin-top: 16.67vw;
        width: fit-content;

        .harf-text-inner{
            float: left;
            width: fit-content;

            .harf-text {
                border-right: 5px solid;
                border-right-color: #000000;
                padding: 0.64375rem;
                padding-left: 0;

                .harf-title {
                    direction: rtl;
                    font-size: 2.5654vw;
                    font-weight: bold;
                    font-family: IRANYekanMobileFaNum;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.54;
                    letter-spacing: normal;
                    text-align: right;
                    color: #000000;
                }
                .harf-head{
                    font-family: IRANYekanMobileFaNum;
                    font-size: 1.64vw;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.56;
                    letter-spacing: normal;
                    text-align: right;
                    color: #000000;
                    margin-top: 0.974vw;

                }
                .harf-describe-web {
                    display: block;
                    font-family: IRANYekanMobileFaNum;
                    font-weight: 300;
                    font-size: 1.02vw;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.55;
                    letter-spacing: normal;
                    white-space: nowrap;
                    text-align: right;
                    color: #000000;
                    margin: 0 auto;
                    margin-top: 0.9235vw;
                }
                .harf-describe-mobile {
                    display: none;
                }
            }

            .harf-web-button {
                display: block;
                width: 100%;

                .harf-button {
                    font-family: IRANYekanMobileFaNum;
                    color: #ffffff;
                    width: 7.59vw;
                    height: 2.46vw;
                    border-radius: 2.5px;
                    box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.16);
                    background-color: #245779;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    font-size: 0.71vw;
                    line-height: 1.57;
                    letter-spacing: normal;
                    text-align: center;
                    margin: 0.45vw 0 0 0;
                    transition: all 0.4s ease 0s;

                    //&:hover {
                    //    color: #ffffff;
                    //    text-shadow: 0 0 0.205vw rgba(255, 255, 255, 1);
                    //    -webkit-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(0,0,0,0.57);
                    //    -moz-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(0,0,0,0.57);
                    //}
                }

                //.harf-button:hover {
                //    color: white;
                //}
            }
        }
    }

    .harf-image {
        float: left;
        height: inherit;
        position: relative;
        width: 50%;
    }

    .harf-imageWeb {
        position: relative;
        width: 20.933vw;
        height: 20.933vw;
        margin: 13.853vw auto;
    }

    .harf-mobile-button{
        display: none;
    }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
