@import "variables";

body {
  background-color: #e4e4e4;
}

.hazm {
  background-image: url("../../src/images/hazm/hazm-background-mobile.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  background-size: 100% 100%;

  .hazm-inner {
    display: flex;
    flex-flow: column;
  }
}

.hazm-text {
  border-right: 0.7995vw solid;
  border-right-color: white;
  padding: 0 2.744vw;
  margin-top: 5%;
  margin-right: 3%;
  padding-bottom: 8%;

  .hazm-title {
    font-family: IRANYekanMobileFaNum;
    direction: rtl;
    font-size: 10.66vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: right;
    color: white;
    margin: 0;
  }

  .hazm-head {
    font-family: IRANYekanMobileFaNum;
    font-size: 7.995vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: right;
    color: white;
    margin: 0;
  }

  .hazm-describe-mobile {
    font-family: IRANYekanMobileFaNum;
    font-size: 4.798vw;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: right;
    color: white;
    margin: 0 auto;
  }

  .hazm-describe-web {
    display: none;
  }
}

.hazm-web-button {
  display: none;
}

.hazm-mobile-button {
  width: $mobile-button-width;
  height: $mobile-button-height;
  margin: 0 auto $mobile_button_margin auto;

  .hazm-button {
    font-family: IRANYekanMobileFaNum;
    color: black;
    width: 100%;
    height: 100%;
    font-size: $mobile-button-font-size;
    border-radius: 0.666vw;
    box-shadow: 0.3996vw 0.3996vw 0.7995vw 0 rgba(0, 0, 0, 0.16);
    background-color: #e3d845;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
  }

  .hazm-button:hover {
    color: black;
  }
}


.hazm-code {
  width: 81vw;
  height: fit-content;
  padding: 2.66vw 2.93vw;
  margin: 5.44vw auto 2.66vw auto;
  direction: ltr;
  text-align: left;
  text-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.16);
  background: #7f85d9;
  background: repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);
  background: -webkit-repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);
  background: -moz-repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);

  .hazm-code-inner {
    height: 100%;
    font: 1.6vw monospace, Arial;

    .lines {
      .line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .has-break {
        margin-bottom: 1.3rem;
      }
    }
  }
}

/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/
@media only screen and (max-width: 476px) {
  .lines {
    .has-break {
      margin-bottom: 0.6rem!important;
    }
  }
}

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media only screen and (min-width: 992px) {
  .hazm {
    background-image: url("../../src/images/hazm/hazm-background-web.jpg");
    background-repeat: no-repeat;
    height: 49.84vw;
    display: flex;
    align-items: center;

    .hazm-inner {
      display: flex;
      flex-flow: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .hazm-text-outer {
    margin-right: 7.91vw;

    .hazm-text-inner {
      float: right;
      width: fit-content;

      .hazm-text {
        border-right: 5px solid;
        border-right-color: white;
        padding: 0.64375rem;
        padding-left: 0;
        margin: 0 0;

        .hazm-title {
          font-size: 2.5654vw;
          font-weight: bold;
          font-family: IRANYekanMobileFaNum;
          direction: rtl;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.54;
          letter-spacing: normal;
          text-align: right;
          color: white;
        }

        .hazm-head {
          font-family: IRANYekanMobileFaNum;
          font-size: 1.64vw;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: right;
          color: white;
          margin: 0;
          margin-top: 0.974vw;
        }

        .hazm-describe-web {
          display: block;
          font-family: IRANYekanMobileFaNum;
          font-size: 1.02vw;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.55;
          white-space: nowrap;
          letter-spacing: normal;
          text-align: right;
          color: white;
          margin: 0 auto;
          margin-top: 0.9235vw;
        }

        .hazm-describe-mobile {
          display: none;
        }
      }

      .hazm-web-button {
        display: block;
        width: 100%;

        .hazm-button {
          font-family: IRANYekanMobileFaNum;
          color: #000000;
          width: $web-button-width;
          height: $web-button-height;
          font-size: $web-button-font-size;
          border-radius: 2.5px;
          box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.16);
          background-color: #e3d845;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.57;
          letter-spacing: normal;
          text-align: center;
          margin: 0.8125vw 0 0 0;
          transition: all 0.4s ease 0s;

          &:hover {
            color: #000000;
            text-shadow: 0 0 0.205vw rgba(0, 0, 0, 0.57);
            -webkit-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(255, 255, 255, 1);
            -moz-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(255, 255, 255, 1);
          }
        }

        .hazm-button:hover {
          color: black;
        }
      }
    }
  }

  .hazm-code {
    width: 33.48vw;
    margin: 0 12.61vw 0 0;
    padding: 1.3vw;
    background: transparent;
    position: relative;

    &:after {
      display: block;
      content: "";
      width: 34px;
      height: 34px;
      position: absolute;
      top: -3px;
      right: -3px;
      border-top: 3px solid #415CB9;
      border-right: 3px solid #415CB9;
    }

    &:before {
      display: block;
      content: "";
      width: 34px;
      height: 34px;
      position: absolute;
      top: -3px;
      left: -3px;
      border-top: 3px solid #415CB9;
      border-left: 3px solid #415CB9;
    }

    .hazm-code-inner {
      padding: 1vw 1.3vw;
      direction: ltr;
      text-align: left;
      font: 0.6vw monospace, Arial;
      background: #7f85d9;
      background: repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);
      background: -webkit-repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);
      background: -moz-repeating-linear-gradient(310deg, #425CBC 0%, #6268ca 100%);

      .lines {
        .has-break {
          margin-bottom: 0.75rem!important;
        }
      }

      &:after {
        display: block;
        content: "";
        width: 34px;
        height: 34px;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-bottom: 3px solid #415CB9;
        border-right: 3px solid #415CB9;
        //box-shadow: 2px -2px 6px -2px
      }

      &:before {
        display: block;
        content: "";
        width: 34px;
        height: 34px;
        position: absolute;
        bottom: -3px;
        left: -3px;
        border-bottom: 3px solid #415CB9;
        border-left: 3px solid #415CB9;
      }

    }
  }

  .hazm-mobile-button {
    display: none;
  }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/


/*         highlightes color         */
@font-face {
  font-family: IRMitra;
  font-weight: normal;
  src: url('../../src/fonts/IRMitra.woff') format('woff');
}

@font-face {
  font-family: IRMitra;
  font-weight: bold;
  src: url('../../src/fonts/IRMitraBd.woff') format('woff');
}

@font-face {
  font-family: BMitra;
  font-weight: normal;
  src: url('../fonts/BMitra.woff') format('woff');
}

.highlight {
  color: #ffffff
}

.highlight .s {
  font-family: Arial
}

.highlight .c {
  color: #999999;
  font-style: italic
}

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

/* Error */
.highlight .g {
  color: #ffffff
}

/* Generic */
.highlight .k {
  color: #6ab825;
  font-weight: normal
}

/* Keyword */
.highlight .l {
  color: #ffffff
}

/* Literal */
.highlight .n {
  color: #ffffff
}

/* Name */
.highlight .o {
  color: #ffffff
}

/* Operator */
.highlight .x {
  color: #ffffff
}

/* Other */
.highlight .p {
  color: #ffffff
}

/* Punctuation */
.highlight .cm {
  color: #999999;
  font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
  color: #cd2828;
  font-weight: normal
}

/* Comment.Preproc */
.highlight .c1 {
  color: #999999;
  font-style: italic
}

/* Comment.Single */
.highlight .cs {
  color: #e50808;
  font-weight: normal;
  background-color: #520000
}

/* Comment.Special */
.highlight .gd {
  color: #d22323
}

/* Generic.Deleted */
.highlight .ge {
  color: #ffffff;
  font-style: italic
}

/* Generic.Emph */
.highlight .gr {
  color: #d22323
}

/* Generic.Error */
.highlight .gh {
  color: #ffffff;
  font-weight: normal
}

/* Generic.Heading */
.highlight .gi {
  color: #589819
}

/* Generic.Inserted */
.highlight .go {
  color: #cccccc
}

/* Generic.Output */
.highlight .gp {
  color: #aaaaaa
}

/* Generic.Prompt */
.highlight .gs {
  color: #ffffff;
  font-weight: normal
}

/* Generic.Strong */
.highlight .gu {
  color: #ffffff;
  text-decoration: underline
}

/* Generic.Subheading */
.highlight .gt {
  color: #d22323
}

/* Generic.Traceback */
.highlight .kc {
  color: #6ab825;
  font-weight: normal
}

/* Keyword.Constant */
.highlight .kd {
  color: #6ab825;
  font-weight: normal
}

/* Keyword.Declaration */
.highlight .kn {
  color: #6ab825;
  font-weight: normal
}

/* Keyword.Namespace */
.highlight .kp {
  color: #6ab825
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #6ab825;
  font-weight: normal
}

/* Keyword.Reserved */
.highlight .kt {
  color: #6ab825;
  font-weight: normal
}

/* Keyword.Type */
.highlight .ld {
  color: #ffffff
}

/* Literal.Date */
.highlight .m {
  color: #3677a9
}

/* Literal.Number */
.highlight .s {
  color: #ff8
}

/* Literal.String */
.highlight .na {
  color: #bbbbbb
}

/* Name.Attribute */
.highlight .nb {
  color: #24909d
}

/* Name.Builtin */
.highlight .nc {
  color: #447fcf;
  text-decoration: underline
}

/* Name.Class */
.highlight .no {
  color: #40ffff
}

/* Name.Constant */
.highlight .nd {
  color: #ffa500
}

/* Name.Decorator */
.highlight .ni {
  color: #ffffff
}

/* Name.Entity */
.highlight .ne {
  color: #bbbbbb
}

/* Name.Exception */
.highlight .nf {
  color: #447fcf
}

/* Name.Function */
.highlight .nl {
  color: #ffffff
}

/* Name.Label */
.highlight .nn {
  color: #447fcf
}

/* Name.Namespace */
.highlight .nx {
  color: #ffffff
}

/* Name.Other */
.highlight .py {
  color: #ffffff
}

/* Name.Property */
.highlight .nt {
  color: #6ab825;
}

/* Name.Tag */
.highlight .nv {
  color: #40ffff
}

/* Name.Variable */
.highlight .ow {
  color: #6ab825;
  font-weight: normal
}

/* Operator.Word */
.highlight .w {
  color: #666666
}

/* Text.Whitespace */
.highlight .mf {
  color: #3677a9
}

/* Literal.Number.Float */
.highlight .mh {
  color: #3677a9
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #3677a9
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #3677a9
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #ff8
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #ff8
}

/* Literal.String.Char */
.highlight .sd {
  color: #ff8
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #ff8
}

/* Literal.String.Double */
.highlight .se {
  color: #ff8
}

/* Literal.String.Escape */
.highlight .sh {
  color: #ff8
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #ff8
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #ffa500
}

/* Literal.String.Other */
.highlight .sr {
  color: #ff8
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #ff8
}

/* Literal.String.Single */
.highlight .ss {
  color: #ff8
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #24909d
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #40ffff
}

/* Name.Variable.Class */
.highlight .vg {
  color: #40ffff
}

/* Name.Variable.Global */
.highlight .vi {
  color: #40ffff
}

/* Name.Variable.Instance */
.highlight .il {
  color: #3677a9
}

/* Literal.Number.Integer.Long */
