@import "variables";

.kashf {
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
}

.text-section {
  width: 100%;
  height: max-content;
  padding: 0 5.22vw 5.33vw 5.22vw;
  position: relative;
  z-index: $z-index-of-carousel-kashf + 1;

  .kashf-text {
    border-right: 0.7995vw solid;
    border-right-color: white;
    padding: 0 3.09vw;
    margin-bottom: 89.4vw;

    .kashf-title {
      margin: 0;
      direction: rtl;
      font-size: 10.66vw;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
      font-weight: bold;
      font-family: IRANYekanMobileFaNum;
    }

    .kashf-head {
      font-size: 7.995vw;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
      margin: 0;
      font-family: IRANYekanMobileFaNum;
    }

    .kashf-describe-mobile {
      font-size: 4.795vw;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
      margin: 0 auto;
      font-family: IRANYekanMobileFaNum;

      @keyframes fade_text_animate {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .no-wrap-words {
        white-space: nowrap;
      }

      .carousel-text {
        font-weight: bold;
        font-size: 5.59vw;
        opacity: 0;

        &.active {
          animation: fade_text_animate 3970ms linear;
        }
      }
    }

    .kashf-describe-web {
      display: none;
    }
  }

  .kashf-web-button {
    display: none;
  }

  .kashf-mobile-button {

    .kashf-button {
      width: $mobile-button-width;
      height: $mobile-button-height;
      font-size: $mobile-button-font-size;
      background-color: #e3d845;
      color: #000000;
      border-radius: 0.666vw;
      box-shadow: 0.3996vw 0.3996vw 0.7995vw 0 rgba(0, 0, 0, 0.16);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      font-family: IRANYekanWeb;
    }
  }
}

.carousel-section {
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: $z-index-of-carousel-kashf;

    div {
      height: inherit;

      picture {
        display: block;
        height: inherit;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}


@keyframes fade_image_animate {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.carousel.carousel-fade .carousel-item.active {
  transform: none;
  -webkit-transform: none;
  transition: none !important;
  opacity: 0;
  animation: fade_image_animate 3970ms;
  -moz-animation: fade_image_animate 3970ms;
}

/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media only screen and (min-width: 992px) {
  .kashf {
    height: max-content;
    padding-top: 23.2vw;
  }

  .text-section {
    width: max-content;
    margin-right: 15.93vw;
    padding: 0;

    .kashf-text {
      border-right: 5px solid;
      border-right-color: white;
      padding: 0 1.08vw 0 0;
      margin-bottom: 1.07vw;

      .kashf-title {
        direction: rtl;
        font-size: 2.5654vw;
        font-weight: bold;
        font-family: IRANYekanMobileFaNum;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }

      .kashf-head {
        font-family: IRANYekanMobileFaNum;
        font-size: 1.64vw;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        margin-top: 0.974vw;
      }

      .kashf-describe-web {
        display: block;
        font-family: IRANYekanMobileFaNum;
        font-weight: 300;
        font-size: 1.02vw;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: right;
        white-space: nowrap;
        color: #ffffff;
        margin-top: 0.9235vw;

        .carousel-text {
          font-weight: bold;
          font-size: 1.04vw;
          opacity: 0;

          &.active {
            animation: fade_text_animate 3970ms linear;
          }
        }

      }

      .kashf-describe-mobile {
        display: none;
      }
    }

    .kashf-web-button {
      display: block;
      width: 100%;
      text-align: left;

      .kashf-button {
        font-family: IRANYekanMobileFaNum;
        color: #000000;
        width: $web-button-width;
        height: $web-button-height;
        font-size: $web-button-font-size;
        border-radius: 2.5px;
        box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #e3d845;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        transition: all 0.4s ease 0s;

        &:hover {
          color: #000000;
          text-shadow: 0 0 0.205vw rgba(0, 0, 0, 0.57);
          -webkit-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(255, 255, 255, 1);
          -moz-box-shadow: 0 0.17vw 1.36vw -0.341vw rgba(255, 255, 255, 1);
        }
      }
    }

    .kashf-mobile-button {
      display: none;
    }
  }

  .carousel-section {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
