.kashf{
    margin: 0;
    padding: 0;

}
.kashf .row {
    text-align: center;
}
.kashf-introduce{
    float: right;
    width: 50%;
    height: 373px;
}
.kashf-title {
    margin: 0;
    direction: rtl;
    font-size: 10.66vw;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    font-family: IRANYekanMobileFaNum;
}
.kashf-head{
    font-size: 7.995vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin: 0;
    font-family: IRANYekanMobileFaNum;
}
.kashf-describe {
    font-size: 4.795vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
    margin: 0 auto;
    font-family: IRANYekanMobileFaNum;
}
.kashf-button {
    color: #000000;
    height: 12.792vw;
    border-radius: 0.666vw;
    box-shadow:  0.3996vw 0.3996vw 0.7995vw 0 rgba(0, 0, 0, 0.16);
    background-color: #e3d845;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    font-size: 3.198vw;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 10%;
    font-family: IRANYekanWeb;
}
.kashf-web-button{
    display: none;
}
.kashf-border {
    border-right: 0.7995vw  solid;
    border-right-color: white;
    padding: 0 2.744vw;
    margin-top: 8.528vw;
    padding-bottom: 7%;
}
.image-carousel {
    width: 77.285vw;
    height: 77.285vw;
    margin: auto;
    cursor: pointer;
}


@keyframes fade_animate{
    0% {opacity: 0;}
    2% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    98% {opacity: 0;}
    100% {opacity: 0;}
}

.carousel.carousel-fade .carousel-item.active {
    transform: none;
    -webkit-transform: none;
    transition: none!important;
    opacity: 0!important;
    animation: fade_animate 2000ms;
    &:hover{
        animation-play-state: paused;
        img {
            opacity: 0.75;
        }
    }
}

/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media only screen and (min-width: 912px) {
    .kashf{
        margin-top: 12.67vw;
        overflow: hidden;

    }
    .kashf-web-button {
        display: block;
        margin: 0;
        float: left;
    }
    .kashf-mobile-button{
        display: none;
    }
    .kashf-introduce{
        float: right;
        width: 50%;
        height: 373px;
    }
    .kashf-title {
        direction: rtl;
        font-size: 2.5654vw;
        font-weight: bold;
        font-family: IRANYekanMobileFaNum;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
    }
    .kashf-head{
        font-family: IRANYekanMobileFaNum;
        font-size: 1.64vw;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        margin-top: 0.974vw;
    }
    .kashf-describe {
        font-family: IRANYekanMobileFaNum;
        font-weight: 300;
        font-size: 1.02vw;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        margin: 0 auto;
        margin-top: 0.9235vw;
    }
    .kashf-button {
        font-family: IRANYekanMobileFaNum;
        color: #000000;
        width: 7.59vw;
        height: 2.46vw;
        border-radius: 2.5px;
        box-shadow: 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #e3d845;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        font-size: 0.71vw;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    .kashf-border {
        width: 70%;
        border-right: 5px solid;
        border-right-color: white;
        padding: 10.3px;
        margin-top: 5.849vw;
        margin-right: 15.7vw;
    }
    .image-carousel {
        width: 33.35vw;
        height: 33.35vw;
        margin-bottom: 4.207vw;
        margin-left: 12.47vw;
        cursor: pointer;
    }
    .carousel {
        width: 100%;
        display: block;
        margin: auto;
    }
}
