body {
    direction: rtl;
}

.my-navbar {
    direction: rtl;
    background-color: #4286f5;
    color: white;
    padding: 0;
    //height: max-content;
    height: 18.13vw;
}

.nav-item {
    margin-right: 5%;
    text-align: right;
}

.navbar-nav{
    direction: rtl;
}
.navbar-toggler .line {
    color: red;
}

.navbar-button  {
    border: none;
    position: absolute;
    top: 5vw;
    height: max-content;
    width: max-content;

}
.roshan-logo {
    width: 100%;
}
.navbar-brand {
    float: right;
    padding: 0;
}
.navbar-logo {
    direction: rtl;
    text-align: right;
    margin: auto;
    display: block;
    height: 21.798vw;
    padding-top: 2.665vw;
}
.navbar-collapse {
    direction: ltr;
}
.nav-items{
    color: #ffffff;
    font-size: 4.798vw;
    width: max-content;
    font-family: IRANYekanMobileFaNum;
    font-weight: bold;
}
.nav-items:hover{
    color: #cdfff5;
}
.nav-items:focus{
    color: #cdfff5;
}
.navbar-toggler-icon{
    width: 10vw;
    height: 10vw;

}
.web-nav {
    width: 100%;
}

/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media only screen and (min-width: 992px) {
    body {
        direction: rtl;
    }

    .my-navbar {
        direction: rtl;
        background-color: #4286f5;
        color: white;
        height: 4.63vw;
        padding: 0;
    }

    .navbar-toggler .line {
        color: red;
    }

    .roshan-logo {
        width: 34%;
        float: right;
    }

    .navbar-button  {
        margin-left: 15.7vw;
        border: none;

    }

    .navbar-brand {
        float: right;
        margin-right: 15.7vw;
        padding: 0;
    }
    .navbar-logo {
        direction: rtl;
        text-align: right;
        height: 2.99vw;
        width: 12.24vw;
        padding-top: 0;
        margin-right: 13.7vw;
        margin-top: 0.6512vw;
    }
    .navbar-collapse {
        margin-left: 15.9%;
        direction: ltr;
        direction: ltr;
    }
    .nav-items{
        color: #ffffff;
        font-family: IRANYekanMobileFaNum;
        font-weight: bold;
        font-size: 1.02vw;
    }
    .nav-items:hover{
        color: #cdfff5;
    }
    .nav-items:focus{
        color: #cdfff5;
    }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/

