body{
    background-color: #e4e4e4;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    max-width: none;
}

@media screen and (max-width: 912px){
    html, body {
        overflow-x: hidden;
    }
    .col-sm {
        flex-basis: unset;
        flex-grow: unset;
        max-width: none;
    }
}
