@media screen and (min-width: 600px ) {
    body{
        margin:0 auto;
        max-width:1950px; /* requierd width */
        background-color: #e4e4e4;
    }

}
body{
    background-color: #e4e4e4;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
@media screen and (max-width: 912px){
    .container {
        max-width: none;
    }
    .col-sm {
        flex-basis: unset;
        flex-grow: unset;
        max-width: none;
    }
}