html {
  scroll-behavior: smooth;
}

.roshan {
  background-image: url("../../src/images/roshan/roshan-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-y: -6px;
}

.roshan-web {
  display: none;
}

.roshan-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vw;
}

.earth-image {
  width: 130vw;
  mix-blend-mode: screen;
  height: 108.8vw;
  filter: blur(1px);
  opacity: 0.5;
  margin-left: -4vw;
}

.roshan-text {
  position: absolute;
  text-align: center;
  font-size: 5.33vw;
  font-weight: 300;
  color: white;
  font-family: IRANYekanWeb;
  margin-top: -1vw;

  span {
    font-size: 10.66vw;
    font-weight: bold;
    text-shadow: 1.5px 3px 5px rgba(0, 0, 0, 0.16);
  }
}

.product-arrow {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 8.8vw;

  a {
    img {
      width: 16.9925vw;
      margin: auto;
    }
  }
}


/*!* Extra small devices (phones, 576px and down) *!*/
/*@media only screen and (max-width: 576px) {...}*/

/*!* Small devices (portrait tablets and large phones, 576px and up) *!*/
/*@media only screen and (min-width: 576px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/
@media only screen and (min-width: 992px) {

  .roshan {
    display: flex;
    justify-content: center;
  }

  .roshan-mobile {
    display: none;
  }

  .roshan-web {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 10vw 0 11vw;
  }

  .roshan-text {
    color: white;
    text-align: right;
    font-size: 1.84vw;
    position: initial;
    margin: 0;

    span {
      font-size: 4.1vw;
    }
  }

  .earth-image {
    width: 43.54vw;
    height: 35.96vw;
    mix-blend-mode: screen;
    filter: blur(0px);
    opacity: 1;
    margin: 0;
  }

  .product-arrow {
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 6.38vw;

    a {
      img {
        width: 4.791vw;
        height: 4.166vw;
      }
    }
  }
}

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
