

/*طراحی موبایل*/
.roshan{
    width: 100%;
    background-image: url("../images/roshanBackground.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding: 0;
    margin: 0;
}
.roshan-web {
    display: none;
}

.roshan:before{
    /*filter: blur(0.5px);*/
}
.earth-image{
    width: 150%;
    mix-blend-mode: screen;
    height: 108.732vw;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    transform: translate(21.853vw);
    opacity: 0.5;
    margin-top: 16vw;
}
.roshan-mobile-text {
    position: absolute;
    text-align: center;
    margin-top: 50%;
    font-size: 5.33vw;
    color: white;
    font-family: IRANYekanWeb;
}
.text-roshan {
    font-size: 7.995vw;
    font-weight: bold;
}
.product-image {
    width: 16.9925vw;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 13.325vw;
}



/*!* Extra small devices (phones, 600px and down) *!*/
/*@media only screen and (max-width: 600px) {...}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {...}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
@media only screen and (min-width: 912px) {
    .roshan {
        background-size: 100% 100%;
    }
    .roshan-web{
        display: flex;
        width: 100%;
        margin: auto;
    }
    .roshan-mobile{
        display: none;
    }
    .earth-image{
        width: 43.04vw;
        mix-blend-mode: screen;
        filter: blur(0.5px);
        transform: none;
        opacity: 0.6;
        margin-top: 5.49vw;
        height: 37.40vw;
        margin-left: 7.57vw;
    }
    .container {
        max-width: 100%;
    }
    .roshan-mobile-text {
        position: relative;
        color: white;
        margin: auto 0;
        text-align: start;
        /*margin-top: 321px;*/
        margin-top: 16.47vw;
        font-family: IRANYekanWeb;
        font-weight: 300;
        font-size: 1.84vw;
        margin-right: 15.7vw;
        max-width: 50%;
    }

    .roshan-introduce {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 50%;
        grid-gap: 10px;
        direction: ltr;
        margin: auto;
        width: 69%;
    }
    .roshan-introduce-mobile{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 50%;
        grid-gap: 10px;
        direction: ltr;
        margin: auto;
        width: 69%;
    }

    .roshan-text {
        grid-column: 2;
        grid-row: 1;
        margin: auto;
        margin-right: 42px;
        color: white;
        text-align: right;

    }
    .product-image {
        width: auto;
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 1.325vw;
    }
    .text-roshan {
        font-size: 4.1vw;
        font-weight: bold;
        font-family: IRANYekanWeb;

    }
    .image {
        grid-column: 1;
        grid-row:1;
        margin-top: 54.5px;
    }
    .width-roshan-text-bog{
        max-width: 50%;
    }
}