// ------- sizes ------------
$mobile-button-width: 78.93vw;
$mobile-button-height: 12.8vw;
$mobile-button-font-size: 3.2vw;

$web-button-width: 7.7vw;
$web-button-height: 2.5vw;
$web-button-font-size: 0.73vw;

// ------- numbers and z-indexes -----
$z-index-of-carousel-kashf:0;
