#menu-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 30vh;
    margin-top: 7vw;
}

#menu-contents {
    display: flex;
    padding-right: 2vw;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.menu-link {
    color: white;
    font-family: iran-yekan, serif;
    font-size: clamp(12px, 1.3vw, 50px);
    transition: 1s;
}

.menu-link:hover {
    color: #26ff7b;
}

#company-name {
    margin-top: 50vh;
    margin-right: 0;
    color: white;
    font-family: iran-yekan, serif;
    font-size: 0.8vw;
    text-align: right;
}

@media screen and (max-width: 600px) {
    #company-name {
        display: none;
    }

    #menu-links {
        padding: 16px;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        height: 40vh;
    }

    #menu-contents {
        padding-right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu-link {
        font-size: 3vw;
    }
}
